.learnToPlayContainer{
    display: flex;
    justify-content: safe center;
    align-items: safe center;
    height: 84vh;
    overflow-y: overlay;
    scrollbar-gutter: stable both-edges;
}

.learnToPlayContent{
    display: flex;
    width: 80vw;
    justify-content: center;
    overflow: hidden;
}

.ruleContainer{
    display: flex;
    flex-direction: column;
    height: 140vh;  
    width: auto;
    flex: 1;
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
}

.termContainer{
    display: flex;
    flex-direction: column;
    height: 140vh;
    width: 14vw;
    background-color: rgba(173, 172, 172, 0.5);
    border: 2px solid black;
    border-left: none;
}

.rules{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

#rule{
    display: flex;
    flex-direction: column;
    background-color: rgba(173, 172, 172, 0.5);
    width: 15vw;
    height: 30vh;
    border: 2px solid black;
}

ul{
    margin-left: 20px;
}

#land{
    width: 100px;
    height: 130px;
}

#mana{
    width: 100px;
    height: 100px;
}

#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.turnStructure{
    margin-top: 50px;
}

.secondRow{
    margin-top: 20px;
}

.firstRow, .secondRow{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.turnStructure{
    display: flex;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    justify-content: center;
    flex-direction: column;
}

.arrow{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%);    
    width: 200px;
    height: 80px;
    background-color: rgba(173, 172, 172, 0.5);
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    transform: scale(1);
    transition: transform 0.5s ease;
    
}

.arrow:hover{
    transform: scale(1.05);
}


#firstLine{
    height: 0.8px;
    color: #333;
    background-color: #333;
    width: 60vw;
}


.lineContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.explainStep{
    display: flex;
    padding: 5px;
    width: 30vw;
    height: 40vh;
    justify-content: center;
    align-items: end;
}

.castSpells{
    display: flex;
    background-color: rgba(173, 172, 172, 0.5);
    width: 30vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
.explainContainer{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.termContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sSickness, .theStack, .spells, .insideLink{
    display: flex;
    border: 2px solid black;
    margin: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex: 1;
}