*{
    margin: 0;
    padding: 0;
}

.navbarPages{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 8vh;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(173, 172, 172, 0.5);
}


#navPages, #footerContainer{
    display: flex;
    justify-content: center;
}

#navItem, #navItemHome{
    color: black;
    font-weight: bold;
    
}

#navItemHome{
    flex: 0.8;
}


#footerContent{
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footerContent{
    background-color: rgba(173, 172, 172, 0.5);
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 8vh;
}

body{
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}