*{
    margin: 0;
    padding: 0;
}

.navbarPages{
    display: flex;
    flex-direction: row;
    background-color: rgb(173, 172, 172);
    width: 80vw;
    height: 8vh;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-bottom: none;
}

#navPages, #footerContainer{
    display: flex;
    justify-content: center;
}

#navItem, #navItemHome{
    color: black;
    font-weight: bold;
    
}

#navItemHome{
    flex: 0.8;
}

header{
    margin-top: 20px;
}

footer{
    margin-bottom: 20px;
}

#footerContent{
    border: 2px solid black;
}

#footerContent{
    background-color: rgb(173, 172, 172);
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 8vh;
    border-top: none;
}