*{
    margin: 0;
    padding: 0;
}

.navbarPages{
    display: flex;
    flex-direction: row;
    background-color: rgb(173, 172, 172);
    width: 80vw;
    height: 8vh;
    justify-content: center;
    align-items: center;
}

#navPages, #footerContainer{
    display: flex;
    justify-content: center;
}

#footerContent, .cardColors, .navbarPages{
    border: 2px solid black;

}

#navItem, #navItemHome{
    color: black;
    font-weight: bold;
    
}

#navItemHome{
    flex: 0.8;
}

header{
    margin-top: 20px;
}

footer{
    margin-bottom: 20px;
}

.navbarPages{
    border-bottom: none;
}

#footerContent{
    background-color: rgb(173, 172, 172);
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 8vh;
    border-top: none;
}

.cardColors{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130vh;
    width: 80vw;
    padding: 2rem;
}

.color{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(173, 172, 172);
    border: 2px solid black;
    width: 13vw;
    height: 62vh;
}

.imgConatiner > img{
    width: 80px;
    height: auto;
}

.imgConatiner{
    margin-top: 50px;
}

.colorContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.articleContainer{
    display: flex;
    justify-content: center;
}

.colorText{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

h3{
    margin: auto;
}

ul{
    font-size: larger;
    padding-top: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.colorPie{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(173, 172, 172);
    border: 2px solid black;
}

.colorPie > img{
    width: 400px;
    height: auto;
}